@import "bulma/bulma";

body {
  display: flex;
  flex-flow: column;
  gap: 25px;
  justify-content: space-between;
}

.logo {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 150px;
  width: 100%;
  height: 100%;
}

.greeting-message {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.container-wrapper {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.card-footer > * {
  margin-top: 5px;
}

main {
  display: flex;
  flex-flow: column;
  position: relative;
}

.checkbox {
  .control.is-flex {
    gap: 10px;
  }

  .label {
    margin-bottom: 0;
  }
}
