<div class="result">
  <% if @test_passage.passed? %>
    <div class="success">
      <%= t('.success_html', count_correct_questions: count_correct_questions(@test_passage)) %>
    </div>
  <% else %>
    <div class="fail">
      <%= t('.fail_html', count_correct_questions: count_correct_questions(@test_passage), count_questions_for_passing: @test_passage.min_questions_for_passing_test) %>
    </div>
  <% end %>
</div>
