<div class="project_info">
  <span class="year"><%= current_year %></span>
  <span class="author">Никита</span>
  <%= github_url('Kroch4ka', 'test_guru') %>
  <span class="project_name">Проект "TestGuru"</span>
  <p class="short_description">Система для прохождения тестов</p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', class: 'link' %>
</div>
