<div class="project-info">
  <span><%= current_year %></span>
  <span>Никита</span>
  <%= github_url('Kroch4ka', 'test_guru') %>
  <span>Проект "TestGuru"</span>
  <p>Система для прохождения тестов</p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', class: 'link' %>
</div>
