<li class="answer card">
  <div class="card-content">
    <div class="subtitle"><%= answer.body %></div>
    <div>
      <%= link_to t('crud.edit'), edit_admin_answer_path(answer), class: 'button is-link' %>
      <%= link_to t('crud.destroy'), admin_answer_path(answer), method: :delete, :data => {:confirm => 'Вы уверены?'}, class: 'button is-link' %>
    </div>
  </div>
</li>
