.questions {
  display: grid;
  flex-flow: column;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-bottom: 20px;

  .actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.edit-question {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: center;

  form {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
}