.passage-card {
  padding: 10px 80px;
  .card-content {
    display: flex;
    gap: 25px;
    flex-flow: column;
  }

  form {
    display: flex;
    flex-flow: column;
    gap: 25px;
    .checkbox {
      display: flex;
      gap: 10px;
    }
  }
}

.card-content {
  text-align: center;
  font-size: 1.2rem;

  .field {
    display: flex;
    width: 100%;
    gap: 20px;
  }
}

.result {
  .success {
    color: green;
  }

  .fail {
    color: red;
  }
}