.tests {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 15px;

  > :not(:nth-child(3n + 1)) {
    margin-left: 15px;
  }
}

.test {
  display: flex;
  flex-flow: column;
  align-items: center;
}