// Place all the styles related to the TestPassages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test_passage_card {
  min-width: 800px;
  min-height: 500px;
  border: 1px solid rgba(0, 0, 0, .175);
  border-radius: 10px;
  padding: var(--padding-left-right);

  &__answers {
    display: flex;
    flex-flow: column;
  }
}

.result_card__success {
  color: green;
}

.result_card__fail {
  color: red;
}