.passage-card {
  padding: 10px 80px;
  .card-content {
    display: flex;
    gap: 25px;
    flex-flow: column;
  }

  form {
    display: flex;
    flex-flow: column;
    gap: 25px;
    .checkbox {
      display: flex;
      gap: 10px;
    }
  }
}

