<div class="test">
  <h1>Тест: <%= @test.title %></h1>
  <ul class="questions">
    <%= render @questions %>
    <%= link_to 'Добавить', new_admin_test_question_path(@test), class: 'link' %>
  </ul>
</div>